/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    color: #333;
  }
  