<div class="step-container">
  <h2>Step 3: Upload Document</h2>

  <table>
    <thead>
      <tr>
        <th>Tag Name</th>
        <th>Tag Code</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      @for (tag of tags; track tag.name) {
        <tr>
          <td>{{ tag.tag_name }}</td>
          <td>{{ tag.tag_code }}</td>
          <td><button (click)="copyTagCode(tag.tag_code)">Copy</button></td>
        </tr>
      }
    </tbody>
  </table>
  <input type="file" (change)="handleFile($event)" />
  
  <button (click)="uploadFile()">Process File</button>
  <button (click)="previewFile()" [disabled]="!pdfUrl">Preview</button>
  <div *ngIf="openModal && pdfUrl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Preview</h5>
        <button type="button" class="close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ngx-extended-pdf-viewer [src]="pdfUrl" [height]="'80vh'"
        [useBrowserLocale]="true"
        [textLayer]="true"
        [showToolbar]="true"></ngx-extended-pdf-viewer>
      </div>
    </div>
  </div>
</div>
